BasedOnStyle: Microsoft
BreakAfterAttributes: Always
BreakStringLiterals: false
BreakTemplateDeclarations: Yes
ColumnLimit: 999
FixNamespaceComments: false
IndentWidth: 2
NamespaceIndentation: All
PointerAlignment: Left
ReflowComments: false
