# macOS
.DS_Store

# Vim/Neovim
*.sw?

# Jetbrains IDEs & Code Editors
/.fleet/
/.idea/
*.proj.DotSettings

# Visual Studio
/.vs/

# Visual Studio Code
/.vscode/

# Zed
/.zed/

# Build Directories
/build/
/Build/
/cmake-build-*/
/out/
/Out/
/target/
/Target/
/bin/
/Bin/
