# Environment Files
.env

# Miscellaneous Files
*.tmp
*.log

# Build Directories
build
cmake-build-*
out

# MacOS Files
.DS_Store

# Vim Files
*.swp

# Microsoft IDEs Configuration Files (Visual Studio and Visual Studio Code)
.vs
.vscode

# JetBrains IDEs Configuration Files (CLion and Fleet)
.idea
